.SquirrelNetPreview {
    height: 100vh;
    width: 100%;
    background-color: #333333;
}

.SquirrelNetPreview h1,
.SquirrelNetPreview h2,
.SquirrelNetPreview p {
    color: white;
    width: 90%;
    max-width: 620px;
}
.SquirrelNetPreview form {
    width: 100%;
}

.SquirrelNetPreview input {
    width: 90%;
    max-width: 480px;
    background-color: transparent;
    border-width: 0 0 1px 0;
    padding: 0 10px;
    color: white;
}

.SquirrelNetPreview img {
    border: 1px solid #999;
}

.SquirrelNetPreview .loading {
    color: white;
    animation: breathe 2s ease-in-out infinite;
}

.SquirrelNetPreview .preview-input {
    margin: 20px;
    flex-direction: column;
}

.SquirrelNetPreview .annotation-meta {
    color: white;
    margin: 20px;
    font-size: 12px;
    flex-direction: column;
}

.SquirrelNetPreview .meta-key {

}

.SquirrelNetPreview .bounding-box {
    border: 3px solid #2286c3;
    cursor: pointer;
    animation: pulse 2s ease-in-out infinite;
}

.SquirrelNetPreview .bounding-box .label {
    position: absolute;
    top: -40px;
    opacity: 1;
    color: white;
    padding: 5px 15px;
    background-color: #2286c3;
}

@keyframes pulse {
    0% { transform: scale(1.0); }
    10% { transform: scale(1.1); }
    20% { transform: scale(1.0); }
}

@keyframes breathe {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1.0); }
}

@media (min-width: 640px) {
    .SquirrelNetPreview .preview-input {
       flex-direction: row;
    }
}
